<div class="menu">
  <aside class="aside">
    <button class="aside-login-btn">Sign in</button>

    <ul class="aside-items">
      <li class="aside-item">
        <a href="/">Home screen</a>
      </li>
      <li class="aside-item">
        <a href="/">Notes</a>
      </li>
      <li class="aside-item">
        <a href="/">To-do list</a>
      </li>
      <li class="aside-item">
        <a href="/">Recipes</a>
      </li>
      <li class="aside-item">
        <a href="/">Calendar</a>
      </li>
      <li class="aside-item">
        <a href="/">Add card</a>
      </li>
    </ul>
    <ul class="aside-items aside-separator">
      <li class="aside-item">
        <a href="/">Create group</a>
      </li>
    </ul>
    <ul class="aside-items">
      <li class="aside-item">
        <a href="/">Settings</a>
      </li>
      <li class="aside-item">
        <a href="/">Bin</a>
      </li>
    </ul>
  </aside>
</div>
<main class="main">
  <div class="bgc"></div>
  <div class="tasks">
    <div class="tasks-category">
      <h2>Notes</h2>
      <div class="category-items">
        <div class="category-item new">
          <p class="item-title">Create a new note</p>
        </div>
        <div class="category-item">
          <p class="item-title">Zrobic pranie</p>
          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quod
            commodi non debitis perspiciatis, officiis voluptatem quisquam, nam
            provident placeat magni enim expedita consectetur accusantium
            excepturi quibusdam aspernatur voluptatibus ex!
          </div>
        </div>
      </div>
    </div>
    <div class="tasks-category">
      <h2>To-do List</h2>
      <div class="category-items">
        <div class="category-item new">
          <p class="item-title">Create a new to-do list</p>
        </div>
      </div>
    </div>
  </div>
</main>
