<div class="menu">
  <aside class="aside">
    <button class="aside-login-btn">
      Sign in <i class="tiny material-icons">input</i>
    </button>
    <i class="small material-icons hide-aside">play_circle_outline</i>
    <ul class="aside-items">
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">home</i>Home screen</a>
      </li>
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">description</i>Notes</a>
      </li>
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">event_note</i>To-do list</a>
      </li>
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">cake</i>Recipes</a>
      </li>
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">date_range</i>Calendar</a>
      </li>
      <li class="aside-item">
        <a href="/"
          ><i class="tiny material-icons">add_circle_outline</i>Add card</a
        >
      </li>
    </ul>
    <ul class="aside-items aside-separator">
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">group</i>Create group</a>
      </li>
    </ul>
    <ul class="aside-items">
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">settings</i>Settings</a>
      </li>
      <li class="aside-item">
        <a href="/"><i class="tiny material-icons">delete</i>Bin</a>
      </li>
    </ul>
  </aside>
</div>
<main class="main"></main>
